body {
  padding: 0px;
  margin: 0
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0
}

.Upper {
  background: #1F2535;
  color: aliceblue;
  padding: 50px;

}

.Menu{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Menu span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px; 
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.App-content {
  text-align: left;
  padding: 10px;
}

.Part-Screen{
  width: 30%
}

.App-button {
  background-color: #ffffff; /* Green */
  border: none;
  color: #1F2535;
  font-family: sans-serif;
  font-weight: bold;  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

.Btn {
  padding: 10px;
}

.Card-box {
  display : flex;
  flex-direction : row;
  padding: 50px;
  text-align: left;
}

.Card-box p {
  padding: 10px;
}